{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{bock.super}}





<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.pexels.com/photos/799443/pexels-photo-799443.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="container">
            <form class="form-horizontal" role="form">
                <h2>log in</h2>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                  <div class="card">
                    <div class="card-body">
                        {% comment %} <p>Don't have an account?</p><a class="ml-2" href="{% url 'index' %}">Register</a> {% endcomment %}
                    </div>
                    </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->

      


{% endblock %}