{% extends 'layout.html'%}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container dree">
<h1>insta</h1>
</div>

<div class="container">
<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.pexels.com/photos/799443/pexels-photo-799443.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
         <form class="form-horizontal" role="form" method="POST">
                {% csrf_token %}
                {{ form | crispy}}
                <button class="btn btn-info" type="submit">Login</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}}


   